

// Colors
// -----------------------------------------

$blue: #69D2E7;
$lightBlue: #A7DBD8;
$cream: #E0E4CC;
$orange: #FA6900;
$lightOrange: #F38630;
$lightGray: #eaeaea;

$black: #000;
$white: #FFF;


// Scaffolding
// -----------------------------------------

$bodyBackground: $lightGray;
$textColor: #444;
$linkColor: $lightOrange;
$linkColorHover: $orange;


// Typography
// -----------------------------------------

$sansFontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$monoFontFamily: Monaco, Menlo, Consolas, "Courier New", monospace;

$baseFontSize: 14px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 20px;

$fontSizeLarge: $baseFontSize * 1.25; // ~ 18px
$fontSizeSmall: $baseFontSize * 0.85; // ~12px
$fontSizeMini: $baseFontSize * 0.75; // ~11px
