
@import "compass/css3";
$experimental-support-for-svg: true;

.index-view {

	@include box-shadow(rgba(0, 0, 0, 0.2) 0 2px 6px 0, rgba(0, 0, 0, 0.15) 0 25px 50px 0);

	.top-border {
		border-bottom: 1px solid #6c615c;
		height: 15px;
		@include border-top-radius(2px);

		@include background-image(linear-gradient(top, rgba(132, 110, 100, 0.8), rgba(101, 84, 76, 0.8)));
	}

	.todos-container {
		background-color: rgba(255, 255, 255, 0.9);
		position: relative;
	}

	.todos:before {
		content: '';
		border-left: 1px solid #f5d6d6;
		border-right: 1px solid #f5d6d6;
		height: 100%;
		left: 40px;
		position: absolute;
		top: 0px;
		width: 2px;
	}

	.todos {
		position: relative;
	}

	.todo-input {
		@include box-sizing(border-box);
		background-color: rgba(0, 0, 0, 0.02);
		border: none;
		color: inherit;
		font-size: 24px;
		line-eight: 1.4em;
		outline: none;
		padding: 16px 16px 16px 60px;
		margin: 0;
		width: 100%;
		z-index: 1;
	}

	.todo-check {
		@include appearance(none);
		-ms-appearance: none;
		border: none;
		height: 41px;
		margin: 0;
		text-align: center;
		width: 65px;
		z-index: 2;

		left: -12px;
		position: absolute;
		top: 12px;
	}

	.input-view {

		.todo-check:before {
			content: '»';
			font-size: 28px;
			color: #d9d9d9;
			padding: 0 25px 7px;
		}

		.todo-check:checked:before {
			color: #737373;
		}

		.todo-check {
			@include rotate(90deg);
		}

	}

	.todo-list {

		border-top: 1px dotted #ccc;
		margin: 0;
		padding: 0;

		li {
			border-bottom: 1px dotted #ccc;
			font-size: 24px;
			position: relative;

			&:last-child {
				border-bottom: none;
			}
		}

	}

	li .todo-input {
		display: none;
	}

	li .todo-check {

		height: auto;
		left: 0px;
		width: 40px;
		top: 8px;

		&:after {
			content: '✔';
			font-size: 20px;
			line-height: 43px;
			color: #d9d9d9;
			text-shadow: 0 -1px 0 #bfbfbf;
		}

		&:checked:after {
			color: #85ada7;
			text-shadow: 0 -1px 0 #669991;
		}
	}

	li label {
		display: block;
		line-height: 1.2;
		padding: 15px;
		margin-left: 45px;
		word-break: break-word;
	}

	li:hover .destroy {
		display: block;
	}

	li .destroy {
		@include appearance(none);
		background: none;
		border: 0;
		bottom: 0;
		color: #a88a8a;
		display: none;
		font-size: 22px;
		height: 40px;
		margin: auto 0;
		padding: 0;
		position: absolute;
		right: 10px;
		top: 0;
		width: 40px;

		@include transition(all 0.2s);

		&:after {
			content: '✖';
		}

		&:hover {
			@include scale(1.3);
		}
	}
}