<div class="top-border"></div>
<div class="todos-container">
	<div class="todos">
		<div class="input-view view">
			<button id="complete-all" class="todo-check icon-check"></button>
			<input type="text" class="todo-input" id="new-todo" placeholder="What needs to be done?">
		</div>
		<ul class="todo-list">
		</ul>
	</div>
</div>