body { background-image: url('../images/bg.png?1360982699'); -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; }

input, select, textarea { -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -ms-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-smoothing: antialiased; height: auto; }

input::-webkit-input-placeholder, input::-moz-placeholder { font-style: italic; }

input:-ms-input-placeholder { font-style: italic; }

#page-container { padding-top: 3em; }

@media only screen and (min-width: 768px) and (max-width: 1024px) { #page-container { padding-top: 2em; } }
@media only screen and (max-width: 767px) { #page-container { padding-top: 1em; } }
@media only screen and (max-width: 480px) { #page-container { padding-top: .1em; } }
.header h1 { color: rgba(255, 255, 255, 0.3); font-size: 50px; font-weight: bold; text-align: center; text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.2); }
