<li>
	<div>
	<input type="checkbox"{{#if complete}} checked="checked"{{/if}} class="todo-check">
	<label>Item #1</label>
	<input class="todo-input edit" type="text" value="{{title}}">
	<button class="destroy"></button>
	</div>
</li>
<li>
	<input type="checkbox"{{#if complete}} checked="checked"{{/if}} class="todo-check">
	<label>Item #2</label>
	<input class="todo-input edit" type="text" value="{{title}}">
	<button class="destroy"></button>
</li>