
<input type="checkbox"{{#if complete}} checked="checked"{{/if}} class="todo-check">
<label>{{title}}</label>
<input class="todo-input edit" type="text" value="{{title}}">
<button class="destroy"></button>